.full-screen-icon {
  position: absolute;
  bottom: 20px;
  right: 30px;
  color: #fff;
  width: 25px;
  z-index: 30;
  .full-screen-cont {
    #screen-icon1, #screen-icon2 {
      transition: all .5s;
      fill: rgba(255,255,255,.4) !important;
    }
    &:hover {
      cursor: pointer;
      #screen-icon1, #screen-icon2 {
        transition: all .5s;
        fill: #fff !important;
      }
    }
  }
}