.sound-icon {
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: #fff;
  width: 40px;
  z-index: 30;
  .sound-cont {
    cursor: pointer;
    #sound-icon1 {
      transition: all .5s;
      fill: rgba(255,255,255,.4) !important;
      width: 42px;
      margin-left: -1px;
      position: absolute;
      &:hover {
        transition: all .5s;
        fill: #fff !important;
        opacity: 1 !important;
      }
    }
    svg {
      transition: all .5s;
      fill: rgba(255,255,255,.4) !important;
      &:hover {
        transition: all .5s;
        fill: #fff !important;
        opacity: 1 !important;
      }
    }
  }
}