.main-one-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  //background: rgba(50,50,250,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  .title-container {
    width: 700px;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    animation: transitionIn 6s ease-out forwards;
    z-index: 10;
    h1 {
      opacity: 0;
      font-family: MadeCanvas;
      font-size: 9rem;
      margin: 14vh 0 0 0;
      animation: appear 1s ease-out forwards;
      animation-delay: 0.5s;
      text-shadow: 1px 1px 12px #fff;
    }
    p {
      opacity: 0;
      text-align: center;
      animation: appear 1.5s ease-out forwards;
      animation-delay: 1.5s;
    }
  }
  .interact-sentence {
    position: absolute;
    top: 78vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 12px #fff;
    color: rgba(255, 255, 255, 0.65);
    z-index: 100;
    font-size: 1em;
    opacity: 0;
    text-align: center;
  }
}
