.data {
  &-title {
    flex: 1;
    text-align: center;
    opacity: 0.55;
    transition: opacity 0.2s ease-in-out;
    z-index: 32;
    cursor: pointer;
    z-index: 200;

    h3 {
      font-family: MadeCanvas;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 0;
      color: white;
    }

    &.active {
      opacity: 1;
      span {
        opacity: 1;
      }
    }
    span {
      width: 100%;
      opacity: 0;
      font-size: 13px;
      transition: opacity 0.3s ease-in-out;
    }
    &:hover {
      color: white;
      opacity: 1;
      span {
        opacity: 1;
      }
    }
    &.naissance {
      position: absolute;
      width: 100%;
      // margin: -550px 0px 0px 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 50vh;
      transform: translateY(calc(-295px - 50%));
    }
    &.desir {
      flex: unset;
      // width: 110px;
      // margin: 0vh 0px 0px 270px;
      display: flex;
      flex-wrap: wrap-reverse;
      flex-direction: column;
      height: 70px;
      position: absolute;
      width: 100%;
      width: 300px;
      margin-left: 50%;
      margin-top: 50vh;
      transform: translateY(-50%) translateX(200px);

      span {
        width: unset;
      }
      & > * {
        flex: 1 1 10px;
      }
    }
    &.reflect {
      flex: unset;
      // width: 110px;
      // margin: 0vh 270px 0px 0px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      height: 70px;
      position: absolute;
      width: 300px;
      margin-left: 50%;
      margin-top: 50vh;
      transform: translateY(-50%) translateX(-500px);
      
      span {
        width: unset;
      }
      & > * {
        flex: 1 1 10px;
      }
    }
    &.echo {
      position: absolute;
      width: 100%;
      // margin: 550px 0px 0px 0px;
      margin-top: 50vh;
      transform: translateY(calc(275px - 50%));
      h3 {
        margin: 0;
      }
    }
  }

  &.scale {
    z-index: 30;
    color: white;
    right: unset;
    bottom: unset;

    transition: transform 0.3s ease-in-out;
    position: absolute;
    margin-left: 50vw;
    margin-top: 50vh;
    transform: translate(-50%, -50%) scale(3);
  &.megarescale{
    transform: translate(-50%, -50%) scale(6.5);
  }
    .circle {
      border: 0.1px solid white;
      width: 4px;
      height: 4px;
      border-radius: 100%;
      transition: background-color 0.2s ease-in-out;

      &-active {
        background-color: rgba(255, 255, 255, 0.55);
      }
      &_container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        position: absolute;

        &-up {
          top: 5.7px;
          left: 72px;

        }
        &-down {
          bottom: 10px;
          left: 72px;
        }
        &-left {
          top: 50%;
          transform: translateY(-30%);
          left: -4.5px;
        }
        &-right {
          top: 50%;
          transform: translateY(-30%);
          right: -4.5px;
        }
      }
    }
    .container {
      .pending-direction {
        height: 80%;
        top: 10%;
        position: absolute;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
      }
      .up {
        height: 80%;
        top: 10%;
      }
      .down {
        height: 80%;
        top: 10%;
      }
      .right {
        width: 80%;
        left: 10%;
      }
      .left {
        width: 80%;
        left: 10%;
      }
      .rotated {
        .progress-ring-dot__circle {
          stroke-dasharray: 0.2 2.2;
        }
      }
    }
    .outer {
      position: absolute;
      top: 5.8%;
      left: 5.8%;
    }
    .step-progress {
      position: relative;
      top: 0;
      left: 0;
      .progress-ring-transparent__circle {
        stroke-width: 0.5px;
      }
    }
    .progress-ring__circle {
      stroke-width: 0.5px;
    }
    .progress-ring-dot__circle {
      stroke-dasharray: 0.1 2.2;
      stroke-linecap: round;
      stroke-width: 0.5px;
    }
    .progress-ring-transparent__circle {
      stroke-width: 0.5px;
    }
  }
  &.unscale {
    transform: scale(0.8) translate(-50%);
    bottom: -20px;
    cursor: pointer;
  }
  &.end{
    animation: fadeInFadeOut 2s ease-in-out forwards;
  }
}
