.progress-circle {
  position: relative;
}
.progress-ring-dot__circle {
  stroke-dasharray: 0.1 14;
  stroke-linecap: round;
  stroke-width: 1.5px;
}
.progress-ring-transparent__circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  opacity: 0.4;
  stroke-width: 1.5px;
}
.progress-ring__circle {
  // stroke-dasharray: 1.34 15;
  // stroke-linecap: round;
  /* // axis compensation */
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-width: 2px;
}
svg.progress-ring-dot {
  position: absolute;
}
input {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 80px;
}
